.togglemenu {
    display: none;
}
@media (max-width: 640px) {
    .togglemenu {
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
        cursor: pointer;
    }
}