@import "../variables";

body{
    margin: 0; 
}
.about {
    max-height: 100vh;
    &__wrapper {
        padding-top: 110px;
        height: 100vh;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        color: white;
    }
}