@import "../variables";
.intro {
    position: relative;
    &__background {
        position: absolute;
        z-index: -1;
        max-height: 100vh;
        svg {
            width: 100vw;
            height: 100vh;
        }
        use {
            animation: move-forever 20s linear infinite;
            &:nth-child(1){ 
                animation-duration: 15s
            }
            &:nth-child(2){ 
                animation-duration: 10s; 
                animation-delay: -1.5s; 
            }
        }
    }
    &__wrapper {
        height: 100vh;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    &__text {
        margin: 150px 0;
        p {
            font-size: 24px;
            color: $white;
        }
        h1 {
            color: $white;
            margin: 10px 0;
        }
        button {
            margin-top: 30px;
        }
    }
}
.socials {
    text-align: start;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .icon {
        position: relative;
        z-index: 2;
        cursor: pointer;
        &::after {
            content: "";
            background-color: $black;
            border-radius: 50%;
            position: absolute;
            width: 62px;
            height: 62px;
            bottom: -5px;
            right: -11px;
            z-index: -2;
        }
    }
    .icon + .icon {
        margin-left: 40px;
    }
    &__icons {
        margin-top: 20px;
        @include flex(start, start);
    }
    h3 {
        color: white;
    }
    &__icon {
        &-telegram {

        }
    }
    svg {
        fill: white;
        width: 40px;
        height: 40px;
        transition: .5s linear;
        &:hover {
            transform: scale(1.1);
        }
        path {
            fill: white;
        }
    }
}

@media (max-width: 640px) {
    .intro {
        &__text {
            padding-top: 20px;
            margin: 80px 0;
            text-align: center;
        }
        &__background {
            max-height: 100vh;
            svg {
                height: 100vh;
            }
        }
    }
}
