@import "variables";
@import "./libs/normalize";
@import "keyframes";

@import "./components/intropage";

.content {
    max-width: 1920px;
    margin: 0 auto;
}
body{
    margin: 0; 
    overflow: hidden; 
    background-color: #123;
}
.btn {

}