@use "variables" as *;
@import "./libs/normalize";
@import "keyframes";

@import "./components/home";
@import "./components/about";

.content {
    max-width: 1920px;
    margin: 0 auto;
}
body{
    background-color: $black;
}

.dark {
    .text {
        color: $white
    }
    .background {
        background-color: $black;
    }
}
.light {
    .text {
        color: $black;
    }
    .background {
        background-color: $white
    }
}
